<table class="table">
    <caption class="table__caption title_align_center">Histórico de Transações</caption>

    <thead class="table__block_width t-head">
        <tr class="row">
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody class="table__block_width t-body">

        {{#each transaction}}
        <tr class="tbody-row row">
            {{#if transaction_type}}
            <td class="tbody-row__type">
                <i class="icon_color_green fa-solid fa-arrow-trend-up">
            </td>
            {{else}}
            <td class="tbody-row__type">
                <i class="icon_color_red fa-solid fa-arrow-trend-down"></i>
            </td>
            {{/if}}

            <td class="tbody-row__description">{{description}}</td>
            <td class="tbody-row__value">{{amount}}</td>

            <td>
                <form action="/transactions/edit/{{id}}" method="get">
                    <button class="button" type="submit"><i class="tbody-row__icon icon-pen fa-solid fa-pen-to-square"></i></button>
                </form>
            </td>
            <td>
                <form action="/transactions/delete/{{id}}" method="post">
                    <button class="button" type="submit"><i class="tbody-row__icon icon-trash fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>